<!DOCTYPE html>
<html>
  <head>
    <title>Studyfy Event Calendar</title>
    <link href="./calendar.css" rel="stylesheet">
    <script src="./calendar.js"></script>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="../flashcard/flashcards.ejs" class= "external">Flashcards</a></li>
       
        <!-- <li><a href="../../public/event-calendar/calendar.html">Calendar</a></li> -->
        <li><a href="../index.ejs" class= "external">Text Reader</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>
    <div id="cal-wrap">
      <!-- [PERIOD SELECTOR] -->
      <div id="cal-date">
        <select id="cal-mth"></select>
        <select id="cal-yr"></select>
        <input id="cal-set" type="button" value="SET"/>
      </div>

      <!-- [CALENDAR] -->
      <div id="cal-container"></div>

      <!-- [EVENT] -->
      <div id="cal-event"></div>
    </div>
  </body>
</html>
